<div class="photography-services">
  <h1 class="mat-display-2">Diensten</h1>
  @if (pageData$ | async; as pageData) {
    @for (category of pageData.diensten; track category.name; let odd = $odd) {
      <section class="service-category">
        <div class="card-content" [ngClass]="{'odd': odd}">
          <div class="text-content">
            <h3>{{ category.name }}</h3>
            <section>
              <p>{{ category.description }}</p>
              <h6>Wat is inclusief?</h6>
              <mat-list>
                @for (inclusion of category.inclusions; track inclusion) {
                  <mat-list-item>
                    <mat-icon matListItemIcon>check</mat-icon>
                    <span matListItemTitle>{{ inclusion }}</span>
                  </mat-list-item>
                }
              </mat-list>
            </section>
          </div>
          <div class="image-container">
            <app-optimized-image
              [src]="generateUrlBig(category.imageId)"
              [generateAlternativeUrlFn]="generateAlternativeUrl(category.imageId)"
              [placeholderSrc]="generateUrlSmall(category.imageId)"
              [alt]="category.name"
              [objectFit]="'cover'"
            ></app-optimized-image>
          </div>
        </div>
      </section>
    }
  }
</div>
