<div class="image-container">
  <img
    [src]="placeholderSrc()"
    [alt]="alt()"
    class="placeholder"
    [class.hidden]="placeholderHidden()"
    (load)="onPlaceHolderLoad()"
    [ngStyle]="{'object-fit': objectFit()}"
  />
  <img
    [attr.data-src]="src()"
    [alt]="alt()"
    class="lazy"
    [class.loaded]="loaded()"
    (load)="onImageLoad()"
    (error)="onImageError($event)"
    [ngStyle]="{'object-fit': objectFit()}"
  />
  <div *ngIf="!placeHolderLoaded()" class="placeholder-placeholder">
    <mat-icon>image</mat-icon>
    <p>Loading...</p>
  </div>
</div>
