:host {
  display: block;
}

.image-container {
  position: relative;
  display: flex;
  overflow: hidden;
  height: 100%;
  max-height: inherit;
  width: 100%;
}
img {
  transition: opacity 0.3s;
  max-height: inherit;
}
.placeholder {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  filter: blur(10px);
  object-fit: contain;
}
.placeholder.hidden {
  opacity: 0;
}
.lazy {
  opacity: 0;
  object-fit: contain;
  width: 100%;
  height: 100%;
}
.lazy.loaded {
  opacity: 1;
}

.placeholder-placeholder{
  width: 100%;
  height: 100%;
  background-color: #e0e0e0;
  display: flex;
  position: absolute;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  border: 2px dashed #ccc;
  font-family: Arial, sans-serif;
  color: #555;
  box-sizing: border-box;
}
