.image-container {
  position: relative;
  overflow: hidden;
}
img {
  transition: opacity 0.3s;
}
.placeholder {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  filter: blur(10px);
}
.placeholder.hidden {
  opacity: 0;
}
.lazy {
  opacity: 0;
  object-fit: contain;
  width: 100%;
  height: 100%;
}
.lazy.loaded {
  opacity: 1;
}
