@if (dataLoaded()) {
  <form [formGroup]="fg">
    <mat-card appearance="outlined">
      <mat-card-content>
        <div formArrayName="diensten">
          <button mat-flat-button (click)="addDienst()">Dienst toevoegen</button>
          @for (dienst of fg.controls.diensten.controls; track dienst.controls.category.value; let idx = $index) {
            <div class="dienst" [formGroup]="dienst">
              <mat-form-field>
                <mat-label>Dienst</mat-label>
                <input matInput formControlName="category">
              </mat-form-field>
              @if (dienst.controls.imageId.value) {
                <img [src]="generateUrlSmall(dienst.controls.imageId.value)"
                     [alt]="dienst.controls.imageId.value"
                     (error)="getAlternativePicture($event)"
                     class="thumbnail">
              }
              <button mat-button (click)="setImage(idx)">Foto veranderen</button>
              <button mat-flat-button (click)="removeDienst(idx)">Dienst verwijderen</button>
            </div>
          }
        </div>
      </mat-card-content>
      <mat-card-actions>
        <button mat-flat-button class="save-button" (click)="submitForm()">SAVE</button>
      </mat-card-actions>
    </mat-card>
  </form>
}
