@if (dataLoaded()) {
  <form [formGroup]="fg" (submit)="submitForm()">
    <mat-card appearance="outlined">
      <mat-card-content>
        <mat-form-field>
          <mat-label>Over mij</mat-label>
          <textarea matInput rows="5" formControlName="welkomSectieText"></textarea>
        </mat-form-field>

        <div formArrayName="diensten">
          <button mat-flat-button>Dienst toevoegen</button>
          @for (dienst of fg.controls.diensten.controls; track dienst.controls.text.value) {
            <div [formGroup]="dienst">
              <mat-form-field>
                <mat-label>Dienst</mat-label>
                <input matInput formControlName="category" >
              </mat-form-field>
              <mat-form-field>
                <mat-label>Over mij</mat-label>
                <textarea matInput rows="5" formControlName="text"></textarea>
              </mat-form-field>
            </div>
          }
        </div>



      </mat-card-content>
      <mat-card-actions>
        <button mat-flat-button class="save-button" type="submit">SAVE</button>
      </mat-card-actions>
    </mat-card>
  </form>
}
