<div class="background-full-screen">
  <div class="website-title"><img src="/assets/fotolots-logo-1.svg" alt="logo"></div>
</div>

<section #dienstenSection id="diensten-section">
  <h3>Mijn diensten</h3>
  @if (pageData$ | async; as pageData) {
    <div class="diensten-list">
      @for (dienst of pageData.diensten; track dienst.category) {
        <div class="dienst-image">
          <a routerLink="/diensten">
            <img [src]="generateUrlBig(dienst.imageId)" [alt]="dienst.category">
          </a>
        </div>
      }
    </div>
  }
</section>
