<div class="background-full-screen">
  <div class="website-title"><img src="assets/fotolots-logo-1.svg" alt="logo"></div>
  <div class="scroll-indicator" (click)="scrollToWelcome()" (keydown.enter)="scrollToWelcome()" tabindex="0  ">
    <span class="scroll-text">scroll om te beginnen</span>
    <span class="scroll-arrow">↓</span>
  </div>
</div>

<section #welcomeSection id="welcome-section">
  <mat-card appearance="outlined">
    <mat-card-header>
      <mat-card-title-group>
        <mat-card-title>Welkom</mat-card-title>
      </mat-card-title-group>
    </mat-card-header>
    <mat-card-content>
      @if (pageData$ | async; as pageData) {
        <p class="newlines-as-br">{{ pageData.welkomSectieText }}</p>
      }
    </mat-card-content>
  </mat-card>
</section>

<section id="diensten-section">
  <h3>Mijn diensten</h3>
  @if (pageData$ | async; as pageData) {
    <div class="diensten-list">
      @for (dienst of pageData.diensten; track dienst.category) {
        <mat-card appearance="outlined">
          <mat-card-header>
            <mat-card-title-group>
              <mat-card-title>{{ dienst.category }}</mat-card-title>
            </mat-card-title-group>
          </mat-card-header>
          <mat-card-content class="diensten-content">
            <div class="dienst-image">
              <img [src]="generateUrlBig(dienst.imageId)" [alt]="dienst.category">
            </div>
            <div class="dienst-info">
              <p>{{ dienst.text }}</p>
            </div>
          </mat-card-content>
          <mat-card-actions>
            <a mat-button routerLink="/diensten">Ontdek meer</a>
          </mat-card-actions>
        </mat-card>

      }
    </div>
  }
</section>

<section id="contact-section">
  <mat-card appearance="outlined">
    <mat-card-header>
      <mat-card-title-group>
        <mat-card-title>Contact Informatie</mat-card-title>
      </mat-card-title-group>
    </mat-card-header>
    <mat-card-content>
      <div class="contact-grid">
        <div class="contact-item">
          <mat-icon>person</mat-icon>
          <div class="contact-details">
            <h3>Naam</h3>
            <p>Charlotte Mangelschots</p>
          </div>
        </div>
        <div class="contact-item">
          <mat-icon>email</mat-icon>
          <div class="contact-details">
            <h3>E-mail</h3>
            <p><a href="mailto:fotolots@gmail.com">fotolots&#64;gmail.com</a></p>
          </div>
        </div>
        <div class="contact-item">
          <mat-icon>chat</mat-icon>
          <div class="contact-details">
            <h3>WhatsApp</h3>
            <p><a href="https://wa.me/0473592221">0473 59 22 21</a></p>
          </div>
        </div>
        <div class="contact-item">
          <mat-icon>phone</mat-icon>
          <div class="contact-details">
            <h3>Telefoon</h3>
            <p><a href="tel:0473592221">0473 59 22 21</a></p>
          </div>
        </div>
        <div class="contact-item">
          <mat-icon>photo_camera</mat-icon>
          <div class="contact-details">
            <h3>Instagram</h3>
            <p><a href="https://www.instagram.com/fotolots/" target="_blank">&#64;fotolots</a></p>
          </div>
        </div>
        <div class="contact-item">
          <mat-icon>storefront</mat-icon>
          <div class="contact-details">
            <h3>Ondernemingsnummer</h3>
            <p>BE 1013.104.028</p>
          </div>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</section>
