<mat-toolbar>
  <span>Admin</span>
  <span class="toolbar-spacer"></span>
  @if (isLoggedIn()) {
    <span>{{ userEmail() }}</span>
  } @else {
    <button mat-raised-button (click)="signInWithGoogle()">
      Log in
    </button>
  }
</mat-toolbar>

@if (isLoggedIn()) {
  <mat-tab-group>
    <mat-tab label="Home">
      <ng-template matTabContent>
        <app-admin-home></app-admin-home>
      </ng-template>
    </mat-tab>
    <mat-tab label="Portfolio">
      <ng-template matTabContent>
        <app-admin-portfolio></app-admin-portfolio>
      </ng-template>
    </mat-tab>
    <mat-tab label="Over mij">
      <ng-template matTabContent>
        <app-admin-over-mij></app-admin-over-mij>
      </ng-template>
    </mat-tab>
    <mat-tab label="Diensten">
      <ng-template matTabContent>
        <app-admin-diensten></app-admin-diensten>
      </ng-template>
    </mat-tab>
    <mat-tab label="Contact">
      <ng-template matTabContent>
        <app-admin-contact></app-admin-contact>
      </ng-template>
    </mat-tab>
  </mat-tab-group>
}
