:host {
  display: flex;
  flex-direction: column;
}

.toolbar-spacer {
  flex: 1 1 auto;
}

mat-tab-group {
  flex-grow: 1;
}

.toolbar-margin-right {
  margin-right: 32px;
}

.hide-overflow {
  overflow: hidden;
}
