:host {
  display: block;
}

a.is-active {
  background-color: rgb(230, 236, 248);
}

.desktop-toolbar {
  position: sticky;
  top: 0;
  z-index: 900;
  justify-content: center;
  gap: 64px
}

.mobile-toolbar {
  display: flex;
  justify-content: center;
  position: relative;
  z-index: 900;
  .mobile-toolbar-left {
    flex-grow: 1;
    display: flex;
  }
  .mobile-toolbar-right {
    flex-grow: 1;
    display: flex;
  }
}

mat-drawer-container {
  height: 100dvh;
}

.root-mobile-container{
  background-color: white;
}

.toolbar-logo {
  height: 100%;
}
