:host {
  display: block;
}

.content {
}

.desktop-toolbar {
  position: sticky;
  top: 0;
  z-index: 99999;
  justify-content: center;
  gap: 64px
}

.mobile-toolbar {
  display: flex;
  position: relative;
  z-index: 99999;
}

mat-toolbar {
  background-color: rgba(100, 149, 237, 0.5);
}

mat-drawer-container {
  height: 100vh;
}
