<div class="over-mij-page">
  <h1>Over mij</h1>
  @if (pageData$ | async; as pageData) {
    <section>
      <p class="newlines-as-br">{{ pageData.description }}</p>
      <div class="image-container">
        <app-optimized-image
          [src]="generateUrlBig(pageData.imageId)"
          [generateAlternativeUrlFn]="generateAlternativeUrl(pageData.imageId)"
          [placeholderSrc]="generateUrlSmall(pageData.imageId)"
          [alt]="'Foto van mezelf'"
          [objectFit]="'cover'"
        ></app-optimized-image>
      </div>
    </section>
  }
</div>
